.section-header {
  width: fit-content;
  font-weight: 400;
  color: $text-white;
  background-color: rgb(80, 75, 75);
  font-size: 6rem;
  font-family: Ewert-Regular;
  letter-spacing: 1rem;
  padding: 0 50px;
  margin: 0 auto;
  box-shadow: 10px 10px 0 black;
}