@font-face {
  font-family: 'jiggler';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/budmo\ jiggler.ttf");
}
@font-face {
  font-family: 'jigglish';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/budmo\ jigglish.ttf");
}
@font-face {
  font-family: 'Ewert-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Ewert-Regular.ttf");
}
