/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-color: #291715;
  background-position: center top;
  background-size:cover;
  background: url(../assets/images/home-bg.svg) no-repeat center/cover;
}

@media screen and (max-width:768px) {
  .home {
    width: 100%;
    height: 30vh;
    background-color: #291715;
    background: url(../assets/images/home-bg.svg) no-repeat cover;
  }
}
