/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  padding: 20px 0;
  transition: all 0.4s ease;

  div {
    &.logo {
      float: left;
      width: 100px;
      padding-left: 3rem;

      a {
        text-decoration: none;
        color: $text-white;
        font-size: 6rem;
        font-weight: bold;

        &:hover {
          color: $text-yellow-hover;
          text-shadow: 0 0 10px;
        }

        &::before {
          @include logo-border();
          margin-bottom: -23%;
        }

        &::after {
          @include logo-border();
          margin-top: -41%;
        }
      }

      #dot {
        font-size: 13px;
      }
    }
    &.main-list {
      height: 65px;
      float: right;
      font-family: "jiggler", sans-serif;
      letter-spacing: 0.5rem;

      .nav-links {
        width: 100%;
        height: 65px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          width: auto;
          height: 65px;
          padding: 0;
          padding-right: 3rem;

          a {
            text-decoration: none;
            color: $text-white;
            line-height: 65px;
            font-size: 2.4rem;

            &:hover {
              color: $text-yellow-hover;
              text-shadow: 0 0 10px;
            }
          }
        }
      }
    }
  }

  /* Media qurey section */
  .nav-trigger {
    display: none;
  }
}

.affix {
  padding: 5px 0 0;
  background-color: $nav-background-color;
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}