// この import ですべての bootstrap の sass を取り込む
@import "../bootstrap/scss/bootstrap";
@import "nav";
@import "home";

@font-face {
  font-family: 'jiggler';
  font-style: normal;
  font-weight: normal;
  src:
    url("../assets/fonts/budmo\ jiggler.ttf"),
    url("../assets/fonts/budmo\ jigglish.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 10px;
}