#recommend {
  .name-en {
    padding-top: 10px;
    font-size: 3rem;
    font-family: sans-serif;
  }
  .name-jp {
    font-size: 2rem;
  }
  .price {
    font-size: 2rem;
    letter-spacing: 0px;
  }
  .description {
    font-size: 1.6rem;
  }
}