#sns {
  .sns-message {
    font-size: 3rem;
  }
  .sns-card {
    h1 {
      font-size: 2rem;
      border-bottom: double black 5px;
    }
    p {
      font-size: 1.7rem;
      line-height: 3.1rem;
    }
  }
}